body {
	font-size: 16pt;


}
#navbar {
	width: 100%;
	padding: 10px 0px;
	font-size: 1.4em;
	text-align: center;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	background-color: #f68a1f;
}
#location {
	float:left;
}
#search {
	float:right;
	width:auto;
}


#listOfPostsOptions {
  display: flex;
  justify-content: space-between;
}


img {
	height: 30px;
}

button {
	background-color: transparent;
	border: none;
	padding: 5px 10px;
	margin: 0px 15px;
	font-size: large;
}
#container {
	position: absolute;
	top: 70px;
	left: 0px;
	width: 100%;

}
#logo {
	padding: 5px;
}

#postingContainer {
	position: relative;
	width: 100%;
	padding: 5px;
	border: 1px solid gray;
	text-align: center;
}
#bottomNavBar {
	display: flex;
    justify-content: space-between;
	padding: 5px;


	bottom: 0px; 
    left: 0px; 
    z-index: 10000; 
    width: 100%; 
    height: 2.5em; 
    position: fixed; 
    margin-bottom: 0px;

}
