.my-image-personal {
	background-image: url("../img/personal.png");
}

.my-image-business {
	background-image: url("../img/business.png");
}

.my-image-notification {
	background-image: url("../img/notification.png");
}


.my-image-buzz_home {
	background-image: url("../img/home.png");
}

.my-image-location:after {
	background-image: url("../img/location.png");
}

.my-image-search:after {
	background-image: url("../img/search.png");
}
.my-footer-image {

	max-height: 50%;
	max-width: 50%;
 }
.my-header-logo {

	max-height: 100%;
	max-width: 100%;
 }

#buzz_navbar .ui-btn {height: 80px;}